//Fontes
$fonte: 'Roboto', sans-serif;

//Cores
$cor-primaria: #495371;
$cor-secundaria: #74959A;
$cor-terciaria: #F1E0AC;

//tamanho das fontes
$tamanho-do-texto: 3rem;

//peso das fontes
$peso-do-texto: 300;

//margem padrão
$margem: 2rem;

//arredondamento dos cantos
$canto-redondo: 20px;